<%= form_with(model: [:admin, task], local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, id: 'task_title', class: 'form-control', placeholder: "Title" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, id: 'task_description', class: 'form-control', rows: 3, placeholder: "Description" %>
  </div>

  <div class="mb-3">
    <%= form.label :child_task_ids, 'Assigned Users', class: 'form-label' %>
    <% User.order(:name).each do |user| %>
      <div class="form-check">
        <%= check_box_tag "task[user_ids][]", user.id, @task.users.include?(user), id: dom_id(user), class: 'form-check-input' %>
        <%= label_tag dom_id(user), user.name, class: 'form-check-label' %>
      </div>
    <% end %>
    <small class="form-text text-muted">Assign this task to the following users</small>
  </div>

  <div class="mb-3">
    <%= form.label :child_task_ids, 'Dependent Tasks', class: 'form-label' %>

    <% Task.where.not(id: task.id).order(:title).each do |available_task| %>
      <div class="form-check">
        <%= check_box_tag "task[child_task_ids][]", available_task.id, task.child_tasks.include?(available_task), id: dom_id(available_task), class: 'form-check-input' %>
        <%= label_tag dom_id(available_task), available_task.title, class: 'form-check-label' %>
      </div>
    <% end %>
    <small class="form-text text-muted">Select tasks that this task depends on. Only non-completed tasks are listed.</small>
  </div>

  <div class="mb-3">
    <%= form.label :due_date, class: 'form-label' %>
    <%= form.date_field :due_date, id: 'task_due_date', class: 'form-control' %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :solved, id: 'task_solved', class: 'form-check-input' %>
    <%= form.label :solved, class: 'form-check-label' %>
  </div>

  <div class="d-flex justify-content-between">
    <%= form.submit 'Save Task', class: 'btn btn-primary' %>
    <%= link_to 'Back', admin_tasks_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
