<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Assigned To</th>
    <th>Due Date</th>
    <th>Solved</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= task.user.name if task.user %></td>
      <td><%= task.due_date %></td>
      <td>
        <%= form_with(model: [:admin, task], url: toggle_solved_admin_task_path(task), method: :patch, local: true, html: { class: 'form-inline' }) do |form| %>
          <div class="form-check form-switch">
            <%= form.check_box :solved, class: 'form-check-input', id: "solved_#{task.id}", checked: task.solved, data: { action: "change->submit" }, role: "switch" %>
            <%= label_tag "solved_#{task.id}", task.solved ? 'Yes' : 'No', class: 'form-check-label' %>
          </div>
        <% end %>
      </td>
      <td><%= link_to 'Show', [:admin, task], class: 'btn btn-info btn-sm' %></td>
      <td><%= link_to 'Edit', edit_admin_task_path(task), class: 'btn btn-primary btn-sm' %></td>
      <td><%= link_to 'Delete', [:admin, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
    </tr>
  <% end %>

  </tbody>
</table>

<%= link_to 'New Task', new_admin_task_path, class: 'btn btn-success' %>
